.logo{
    width: 200px;
}
.italic{
    font-style: italic;
}
table, th, td {
    border: 1px solid black;
    padding: 3px;
}
table {
    border-collapse: collapse;
}
.bold{
    font-weight: bold;
}
.right{
    text-align: right;
}
.container{
    display: flex;
    padding: 5px;
}
.item{
    padding: 5px;
}